@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --r-main-font-size: 36px;
  --r-background-color: #fafafa;
  --r-main-font: "Inter", sans-serif;
  --r-heading-font: "Inter", sans-serif;
  --r-heading-text-transform: none;
  --r-heading-font-weight: 500;
  --r-main-color: #313840;
  --r-heading-color: #313840;
  --r-link-color: #70d4ea;
  --r-link-color-hover: #acebfd;
  --r-code-font: "Roboto Mono", monospace;
}

span.animation-title {
  @apply inline-block text-6xl font-bold;
}

.subtitle {
  @apply text-gray-dark font-bold italic text-4xl tracking-tight;
}

.tech-card--list {
  @apply grid grid-flow-col gap-8 mt-16;
}

.tech-card--list div.tech-card {
  @apply flex flex-col items-center;
}

.tech-card--list div.tech-card img {
  @apply h-20;
}

.tech-card--list div.tech-card small {
  @apply italic text-gray-500;
}

.cards {
  @apply grid grid-cols-1 gap-4 min-w-max max-w-max;
}

.card {
  @apply flex flex-col rounded bg-gray-100 text-black p-4 max-w-[256px] shadow-lg cursor-pointer transition-colors h-[100px];
}

.card:hover {
  @apply bg-gray-200;
}

.card > .card-title {
  @apply text-left text-base text-black font-normal;
}

.card.card--muted > .card-title {
  @apply text-gray-300;
}

.card > .card-footer {
  @apply flex justify-between items-center mt-4;
}

.card > .card-footer > .card-label {
  @apply flex items-center space-x-2;
}

.card > .card-footer > .card-label > .card-check {
  @apply bg-blue-300 text-white rounded h-4 w-4 grid place-content-center text-xs;
}
.card > .card-footer > .card-label > .card-check::after {
  content: "✔";
  @apply text-white;
}

.card > .card-footer > .card-label > .card-id {
  @apply text-base;
}

.card > .card-footer > .card-assignee {
  @apply h-8 w-8 grid place-content-center text-white text-base font-medium rounded-full;
}

.avatar {
  @apply flex flex-col items-center justify-center h-[100px];
}

.avatar > img {
  @apply h-20 m-0 !important;
}

.avatar > span {
  @apply text-lg font-medium;
}

.speech-bubble {
  @apply absolute p-2 text-base text-center border-2 border-black -top-12 rounded-xl z-10 bg-white;
}

.speech-bubble > span {
  @apply relative bg-white z-10;
}

.speech-bubble > span::before {
  content: "";
  @apply absolute -bottom-1/2 translate-y-[60%] left-2 rotate-45 h-4 w-4  border-0 border-b-2 border-r-2 border-black z-0 bg-white;
}

img {
  max-width: 100% !important;
  max-height: 100% !important;
}

span.title {
  @apply py-8 text-4xl font-bold text-center text-black !important;
}
